<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title: 60-70 characters -->
    <title>
      {{ title or site_name }}
      {{ if title }}
      | {{ site_name }}
      {{ /if }}
    </title>

    <!-- Page description: ~160 characters -->
    <meta name="description" content="{{ description or site_description }}">

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ descrition or site_description }}" />
    <meta name="twitter:image" content="{{ asset:lead_image }}{{ glide :src="url" absolute="true" }}{{ /asset:lead_image }}" />
    <!-- <meta name="twitter:site" content="@publisher_handle" /> -->
    <!-- <meta name="twitter:creator" content="@author_handle" /> -->

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ permalink }}" />
    <meta property="og:image" content="{{ asset:lead_image }}{{ glide :src="url" absolute="true" }}{{ /asset:lead_image }}" />
    <meta property="og:description" content="{{ descrition or site_description }}" />
    <meta property="og:site_name" content="{{ site_name }}" />


    <link rel="stylesheet" href="{{ theme:css }}">
    <link rel="stylesheet" href="{{ theme:asset src="node_modules/photoswipe/dist/default-skin/default-skin.css" }}">
    <script src="{{ theme:js }}" defer></script>
</head>


<body>

  <!-- header here??? -->

  {{ template_content }}

  <div class="px-8 md:px-16 max-w-3xl mx-auto flex flex-wrap">
    <div class="w-full md:w-2/3">
      {{ yield:main }}
    </div>

    <div class="w-full md:w-1/3 md:pl-10 lg:pl-16">
      {{ yield:sidebar }}

        {{ partial:default-sidebar }}

      {{ /yield:sidebar }}
    </div>

  </div>


  {{ partial:footer }}

  {{ yield:js }}

</body>

</html>
