<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>
      {{ title or site_name }}
      {{ if title }}
      | {{ site_name }}
      {{ /if }}
    </title>
    <link rel="stylesheet" href="{{ theme:css }}">
    <script src="{{ theme:js }}" defer></script>
</head>


<body>

  <!-- header here??? -->

  {{ template_content }}

  <div class="px-8 md:px-16 max-w-3xl mx-auto flex flex-wrap">
    <div class="w-full md:w-2/3">
      {{ yield:main }}
    </div>

    <div class="w-full md:w-1/3 md:pl-10 lg:pl-16">
      {{ yield:sidebar }}

        {{ partial:default-sidebar }}

      {{ /yield:sidebar }}
    </div>

  </div>


  {{ partial:footer }}

  {{ yield:js }}

</body>

</html>
