{{ partial:header }}

<div class="px-4 py-8 clearfix border-b border-gray-light" id="top-info-bar">
   <dl class="float-left w-1/2 md:mx-4 md:float-none md:inline-block md:w-auto">
      <dd class="text-xs font-light tracking-wide uppercase mb-2">Date</dd>
      <dd class="text-sm font-semibold">{{ datestring }}</dd>
   </dl>
   <dl class="float-left w-1/2 md:mx-4 md:float-none md:inline-block md:w-auto">
      <dd class="text-xs font-light tracking-wide uppercase mb-2">Author</dd>
      <dd class="text-sm font-semibold">Martin</dd>
   </dl>
</div>


<div class="flex flex-wrap p-4">


   <div id="main-article body" class="px-4 w-full md:w-3/4 ">

      <div class="bard">
         {{ content }}
      </div>

   </div>


   <div class="px-6 w-full md:w-1/4 text-center">

      <span class="block text-xs font-light tracking-wide uppercase mb-2">Where are we?</span>

      {{ relate:places }}

        <!-- google map -->
        <div class="w-full h-48 mb-4" id="google-map"></div>

        <a href="{{ url }}" class="block no-underline text-pink-darkest font-semibold mb-2">{{ title }}, {{ country }} {{ title }} {{ /country }}</a>
        <p class="text-xs font-light text-gray-light mb-4">{{ latitude }}, {{ longitude }}</p>

      {{ /relate:places }}

   </div>

</div>

{{ section:js }}
    <script>

        var lat = {{ relate:places }}{{ latitude }}{{ /relate:places }};
        var lng = {{ relate:places }}{{ longitude }}{{ /relate:places }};

        function initMap() {
            var location = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('google-map'), {
              zoom: 4,
              center: location
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
        }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-1zCGgZYjsWKpMy1958RcHWR2kdriqiA&callback=initMap">
    </script>

{{ /section:js }}
