{{ partial:post-header }}

<div class="border-b border-grey-light">

  <div class="px-8 md:px-16 max-w-3xl mx-auto">

    <div class="py-8 clearfix" id="top-info-bar">
       <dl class="mb-4 md:mb-0 inline-block">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Date</dd>
          <dd class="text-sm font-semibold">{{ datestring }}</dd>
       </dl>
       <dl class="block md:inline-block md:mx-8">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Author</dd>
          <dd class="text-sm font-semibold">Martin</dd>
       </dl>
     </div>

   </div>

</div>




{{ section:main }}

  <div class="bard mt-8 mb-32">
     {{ content_area }}

      {{ partial src="content_sets/{type}" }}

     {{ /content_area }}
   </div>

   <div id="similar-posts" class="hidden md:block">
       {{ collection:posts :taxonomy:categories="categories" :url:not="url" limit="3" as="posts" }}

       {{ if posts }}
         <h2 class="text-sm lined uppercase mb-4 font-bold">Similar posts</h2>
         <div class="flex -mx-4">

           {{ posts }}
             {{ partial:similar-post }}
           {{ /posts }}
          </div>

       {{ /if }}


       {{ /collection:posts }}

     </div>

     {{ partial:read-more }}

{{ /section:main }}





{{ section:sidebar }}

  {{ partial:post-sidebar }}

{{ /section:sidebar }}





{{ section:js }}
    <script>

        var lat = {{ relate:places }}{{ latitude }}{{ /relate:places }};
        var lng = {{ relate:places }}{{ longitude }}{{ /relate:places }};

        function initMap() {
            var location = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('google-map'), {
              zoom: 6,
              center: location
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
        }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-1zCGgZYjsWKpMy1958RcHWR2kdriqiA&callback=initMap">
    </script>

{{ /section:js }}
