{{ partial:header }}

<div class="border-b border-grey-light">

  <div class="w-5/6 max-w-2xl mx-auto">

    <div class="py-8 clearfix" id="top-info-bar">
       <dl class="mb-4 md:mb-0 inline-block">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Date</dd>
          <dd class="text-sm font-semibold">{{ datestring }}</dd>
       </dl>
       <dl class="block md:inline-block md:mx-8">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Author</dd>
          <dd class="text-sm font-semibold">Martin</dd>
       </dl>
     </div>

   </div>

</div>




{{ section:main }}

  <div class="bard mt-8 mb-32">
     {{ content_area }}

      {{ partial src="content_sets/{type}" }}

     {{ /content_area }}
   </div>

   <div id="similar-posts" class="hidden md:block">
       {{ collection:posts :taxonomy:categories="categories" :url:not="url" limit="3" as="posts" }}

       {{ if posts }}
         <h2 class="text-sm lined uppercase mb-4 font-bold">Similar posts</h2>
         <div class="flex -mx-4">

           {{ posts }}
             {{ partial:similar-post }}
           {{ /posts }}
          </div>

       {{ /if }}


       {{ /collection:posts }}

   </div>

{{ /section:main }}





{{ section:sidebar }}

<div class="my-8 text-center pt-4 border-t border-grey-lighter md:border-none">

    {{ if places }}

    <span class="block lined text-xs font-bold uppercase mb-4">Where are we</span>

    {{ relate:places }}

      <!-- google map -->
      <div class="aspect-ratio ar--4x3 md:ar--1x1 mb-4">
        <div class="ar__object" id="google-map"></div>
      </div>

      <a href="{{ url }}" class="block no-underline text-pink-darkest font-semibold mb-2">{{ title }}, {{ country }} {{ title }} {{ /country }}</a>
      <p class="text-xs font-light text-gray-light mb-4">{{ latitude }}, {{ longitude }}</p>
      <a class="px-3 py-2 no-underline rounded text-white text-xs font-semibold bg-cherry hover:bg-cherry-dark" href="{{ url }}">See more</a>

      {{ /relate:places }}

      {{ /if }}

  </div>

{{ /section:sidebar }}





{{ section:js }}
    <script>

        var lat = {{ relate:places }}{{ latitude }}{{ /relate:places }};
        var lng = {{ relate:places }}{{ longitude }}{{ /relate:places }};

        function initMap() {
            var location = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('google-map'), {
              zoom: 4,
              center: location
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
        }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-1zCGgZYjsWKpMy1958RcHWR2kdriqiA&callback=initMap">
    </script>

{{ /section:js }}
