{{ collection:posts limit="1" }}
{{ partial:post-header }}
<div class="border-b border-grey-light">

  <div class="w-5/6 max-w-2xl mx-auto">

    <div class="py-8 clearfix" id="top-info-bar">
       <dl class="mb-4 md:mb-0 inline-block">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Date</dd>
          <dd class="text-sm font-semibold">{{ datestring }}</dd>
       </dl>
       <dl class="block md:inline-block md:mx-8">
          <dd class="text-xs font-light tracking-wide uppercase mb-2">Author</dd>
          <dd class="text-sm font-semibold">Martin</dd>
       </dl>
     </div>

   </div>

</div>

{{ /collection:posts }}




{{ section:main }}

  {{ collection:posts limit="1" }}

  <div class="bard mt-8 mb-32">
     {{ content_area }}

      {{ partial src="content_sets/{type}" }}

     {{ /content_area }}
   </div>

   {{ /collection:posts }}

   <div id="more-posts" class="hidden md:block">
     {{ collection from="posts" :url:not="url" limit="3" as="posts" }}

     {{ if posts }}
       <h2 class="text-sm lined uppercase mb-4 font-bold">More</h2>
       <div class="flex -mx-4">

         {{ posts }}
           {{ partial:similar-post }}
         {{ /posts }}

       </div>

     {{ /if }}

     {{ /collection }}



   </div>

   {{ partial:read-more }}

{{ /section:main }}





{{ section:sidebar }}

  {{ partial:default-sidebar }}

{{ /section:sidebar }}





{{ section:js }}

{{ /section:js }}
