<div class="clearfix">

  <div class="absolute overflow-y-scroll h-screen p-4 bg-black w-full md:w-1/2 lg:w-1/4">

    {{ partial:nav colour="white" }}
    <h1 class="text-white my-4 text-center">All Places</h1>
    <div class="">
      {{ collection:places sort="country" limit="15" paginate="true" as="places" }}

      {{ places }}
        {{ partial:place-card }}
      {{ /places }}

      {{ auto_links }}


      {{ /collection:places }}
    </div>
  </div>

  <div class="hidden md:block md:float-right md:w-1/2 lg:w-3/4 md:h-screen" id="google-map"></div>
</div>


{{ section:js }}

  <script>

      var places = [
        {{ collection:places }}
          {
            name: '{{ title }}',
            url: '{{ url }}',
            {{ country }}
              flag: '{{ emoji_flag }}',
            {{ /country }}
            position: {
              lat: {{ latitude }},
              lng: {{ longitude }}
            },
              description: '{{ description | sanitize | safe_truncate:180:...}}',
              posts: [
                {{ collection:posts :places:contains="id"  }}
                {
                  title: '{{ title }}',
                  url: '{{ url }}'
                },
                {{ /collection:posts }}
                ]
          },
        {{ /collection:places }}
      ];


    function initMap() {

      var bounds = new google.maps.LatLngBounds();
      var map = new google.maps.Map(document.getElementById('google-map'), {});
      map.setTilt(45);

      places.forEach(function(p) {

        var position = new google.maps.LatLng(p.position.lat, p.position.lng);
        bounds.extend(position);

        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: p.name
        });

        // Center and zoom the map to fit all places
        map.fitBounds(bounds)

        // Create the content for ech place
        var infoContent = renderContent(p);

        var infoWindow = new google.maps.InfoWindow({
          content: infoContent
        });

        marker.addListener('click', function() {
          window.location.hash = p.name;
          //infoWindow.open(map, marker);
        });

      });

    }


    function renderContent(p) {
      return `
        <div class="pb-3 info max-w-xs text-grey-darkest clearfix">
          <h2 class="text-lg font-semibold mb-1">${p.flag} ${p.name}</h2>
          <p class="text-xs font-light leading-normal mb-2">${p.description}</p>
          <a class="px-2 py-1 rounded bg-cherry text-ss text-white no-underline" href="${p.url}">Read more</a>
        </div>
      `;
    }

    function renderPosts(p) {
      return p.posts.map(function(post) {
        return `<li class="text-xs"><a class="no-underline text-grey-darkest" href="${post.url}">${post.title}</a></li>`;
      });
    }



  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ api_keys:google_maps }}&callback=initMap">
  </script>

{{ /section:js }}
