{{ partial:place-header }}

{{ section:main }}

<div class="mt-8 mb-32">
  {{ description }}
</div>

{{ assets:gallery }}

<img src="{{ url }}" alt="{{ alt }}">

{{ /assets:gallery }}

See posts from this place

{{ collection:posts paginate="true" limit="10" as="posts" :places:contains="id" }}

{{ if no_results }}

<p>No results</p>

{{ else }}

{{ paginate }}
{{ if total_items == 1 }}
1 result
{{ else }}

{{ total_items }} results

{{ /if }}
{{ /paginate }}


{{ posts }}

{{ partial:post-preview }}

{{ /posts }}

{{ /if }}

{{ /collection:posts }}

{{ /section:main }}


<script>

  var images = [
    {{ assets:gallery }}

      {
        src: '{{ url }}',
        w: {{ width }},
        h: {{ height }}
      },

    {{ /assets:gallery }}
  ];

  console.log(images);

</script>
