<div class="w-full py-6 bg-black text-white">

  <div class="w-5/6 mx-auto">

    <a href="mailto:{{ contact_email }}" class="text-3xl cursor-pointer text-cherry-light hover:text-cherry no-underline leading-loose">{{ contact_email }}</a>

    <div class="mt-5">
      <a class="inline-block text-sm pr-2 md:pr-3 text-white hover:text-grey no-underline" href="/about">About</a>
      <a class="inline-block text-sm pr-2 md:pr-3 text-white hover:text-grey no-underline" href="/posts">All Posts</a>
      <a class="inline-block text-sm pr-2 md:pr-3 text-white hover:text-grey no-underline" href="/places">All Places</a>
    </div>

    <p class="text-ss text-grey block tracking-wide leading-loose uppercase font-thin py-2">2018 Millican Ltd.</p>

  </div>

</div>
