<div class="w-full py-6 bg-black text-white">

  <div class="w-5/6 mx-auto">

    <a href="mailto:" class="text-3xl cursor-pointer text-white no-underline leading-loose">hello@millican.com</a>
    <p class="text-xs block tracking-wide leading-loose uppercase font-thin py-2">2018 Millican Ltd.</p>

    <div class="mt-5">
      <a class="inline-block text-xs pr-2 text-grey no-underline" href="">Terms of Use</a>
      <a class="inline-block text-xs pr-2 text-grey no-underline" href="">Privacy</a>
      <a class="inline-block text-xs pr-2 text-grey no-underline" href="">Language</a>
    </div>

  </div>



</div>
