<header class="relative min-h-24rem bg-grey-darkest w-full bg-center bg-cover" style="">
  <nav class="clearfix pt-3 pb-2">

    <h1 class="ma-0 relative z-30">
      <a class="ml-4 text-white w-32 block" href="">
         {{ theme:output src="img/logo.svg" }}
         <span class="absolute h-0 l-9999">{{ site_title }}</span>
      </a>
    </h1>

    <a class="absolute pin-t pin-r text-white px-6 py-6 lh-loose text-sml cursor-pointer no-underline" id="menu-button" href="">Menu</a>

    <ul class="hidden bg-white absolute pin-t pin-x z-50" id="site-navigation">
      <li>Example</li>
    </ul>

    <div id="feature" class="w-full pt-10">

      <div class="clearfix py-4 px-3 md:w-4/5 mx-auto">
        <a class="float-left text-white no-underline cursor-pointer md:w-2/3" href="">
           <h1 class="text-2xl md:text-3xl">{{ title }}</h1>

        </a>
      </div>

    </div>

  </nav>
</header>
