   <div class="w-full rounded bg-white border-2 border-cherry-light mb-8 p-8">
     <h6 class="text-2xl block mb-4 text-cherry-light">What to read more?</h6>
     <p class="mb-8 text-xs text-grey-darkest font-light leading-normal">We've got stories from all over Europe. We could tell you about the highlights, the lows and sometimes just the mundane reality of being on the move all the time. We love writing about our experiences, we hope you'll love reading about them too!</p>
     <a class="mb-8 px-3 py-2 rounded border border-grey-darkest hover:border-cherry-light hover:bg-cherry-light text-grey-darkest hover:text-white text-sm font-semibold uppercase  no-underline" href="/posts">All posts</a>
     <span class="text-sm text-grey-darkest mx-4 uppercase">or</span>
     <a class="mb-8 px-3 py-2 rounded border border-grey-darkest hover:border-cherry-light hover:bg-cherry-light text-grey-darkest hover:text-white text-sm font-semibold uppercase  no-underline" href="/places">All places</a>
   </div>
