
<span class="block lined text-xs font-bold uppercase mb-4">Read more</span>
<p class="mb-4 text-xs text-grey-darkest font-light leading-normal">We've got stories from all over Europe. We could tell you about the highlights, the lows and sometimes just the mundane reality of being on the move all the time. We love writing about our experiences, we hope you'll love reading about them too!</p>
<div class="flex justify-center">
  <a class="mr-2 px-3 py-2 rounded bg-grey-darkest hover:bg-cherry text-white text-xs uppercase font-semibold no-underline" href="/posts">Posts</a>
 <a class="ml-2 px-3 py-2 rounded  bg-grey-darkest hover:bg-cherry text-white text-xs uppercase font-semibold no-underline" href="/places">Places</a>
</div>
