<span class="block lined text-xs font-bold uppercase mb-4">About Us</span>
<p class="text-xs text-grey-darkest font-light leading-normal">
  Millican is a theme for travellers &amp; adventurers to share their journey. It links the articles and photos you post to locations, making easy for those back at home to keep track of where you've been. Millican creates a wonderful record of your travels, something you'll look back on and enjoy all over again.
  <a class="no-underline font-normal text-cherry" href="/about">More...</a>
</p>
