<span class="block lined text-xs font-bold uppercase mb-4">Email updates</span>
<p class="text-xs text-grey-darkest font-light leading-normal mb-2">
  Subscribe and get email updates whenever we post.
</p>


<form class="w-full mt-4">
  <div class="flex text-xs rounded border border-grey-lighter">
    <input class="flex-1 shadow rounded-l bg-white overflow-scroll text-grey-darker py-3 px-2" type="text" placeholder="youremail@domain.com">
    <button class="font-semibold uppercase flex-no-shrink shadow rounded-r bg-cherry hover:bg-cherry-dark text-white px-3" type="button">
      Sign Up
    </button>
  </div>
</form>

